#viewMap {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 80vw;
  position: relative;
}
.container {
  position: absolute;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 20px;
  top: 30px;
  right: 400px;
  border-radius: 8px;
}
.bookmark {
  width: 20vw;
}
.mapCon {
  display: flex;
}
.bookmarkItem {
  width: 100%;
  height: 10%;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  margin-top: 10px;
}
